/*--container*/
.container{
    display: flex;
    flex-direction: column;
}
/*--HEADER--*/


.container .header-container .logo-container{
    background-color: #a83338;
}

.container .header-container .navbar-container nav{
    background-color: #f1f1f1 !important;
}

.container .header-container .navbar-container nav .container-fluid .d-flex button{
    color: #a83338;
    border-color: #a83338;
}

.container .header-container .navbar-container nav .container-fluid .d-flex button:hover{
    color: white;
    background-color: #a83338;
}

.container .header-container .navbar-container nav .container-fluid .d-flex input:active{
    border-color: #a83338 !important;
}

/*--Main--*/
.container .main-container{
    display: flex;
    height: fit-content;
}
/**/
.container .main-container .aside-container{
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: start;
}
.container .main-container .aside-container label{
    margin-bottom: 5%;
    font-size: 1vh;
}
.container .main-container .aside-container ul li{
    display:none;
}
.container .main-container .aside-container ul:hover > li{
    display: block;
}

/**/
.container .main-container .marketplace-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
}
.container .main-container .market-container{
    
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 5%;
}
.container .main-container .market-container .market-card{
    align-items: center;
    margin: 5%;
    height: 40vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.container .main-container .market-container .market-card .rating:not(:checked) > input{

    position: absolute;
    appearance: none;
}
.container .main-container .market-container .market-card .rating:not(:checked) > label{
    float: right;
    cursor: pointer;
    color: #666;
}
.container .main-container .market-container .market-card .rating:not(:checked) > label::before{
    content: '★' ;
}
.container .main-container .market-container .market-card .rating > input:checked + label:hover,
.container .main-container .market-container .market-card .rating > input:checked + label:hover ~ label,
.container .main-container .market-container .market-card .rating > input:checked ~ label:hover,
.container .main-container .market-container .market-card .rating > input:checked ~ label:hover ~ label,
.container .main-container .market-container .market-card .rating > label:hover ~ label:checked ~ label{
    color:#e58e09;
}
.container .main-container .market-container .market-card .rating:not(:checked) > label:hover,
.container .main-container .market-container .market-card .rating:not(:checked) > label:hover ~ label{
    color: #ff9e0b;
}
.container .main-container .market-container .market-card button{
    border-radius: 5px;
    background-color: white;
    border-color: #a83338;
}
.container .main-container .market-container .market-card button:hover {
    background-color: #a83338;
}
.container .main-container .marketplace-container .pagination-container{
   margin: 0 auto;
}
@media (max-width: 1000px){
    .container .main-container .market-container{
        grid-template-columns: auto auto;
    }
}
@media (max-width:750px){
    .container .main-container .market-container{
        grid-template-columns: auto;
    }
}
/*--FOOTER--*/
.container .footer-container{
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
}
.container .footer-container .contact-container{
    display: flex;
    background-color: #f1f1f1;
    width: 100vw;
    justify-content: space-between;
}
.container .footer-container .contact-container .email-container{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.container .footer-container .contact-container .email-container .Suscribirme-container{
    display: flex;
    flex-direction: column;
}
.container .footer-container .contact-container .email-container .Suscribirme-container img{
    object-fit: cover;
    width: 100%;
}
.container .footer-container .contact-container .email-container section{
    display: flex;
    align-items: center;
}
.container .footer-container .contact-container .email-container .phone-img{
    object-fit: scale-down;
    height: 5vh;
}

.container .footer-container .contact-container .email-container .nation-container ul{
    background-color: black;
    padding: 1%;
    border-radius: 5%;
    max-width: max-content;
}
.container .footer-container .contact-container .email-container .nation-container ul li{
    display: none;
}

.container .footer-container .contact-container .email-container .nation-container ul li a{
    color: #f1f1f1;
    text-decoration: none;
} 

.container .footer-container .contact-container .email-container .nation-container ul:hover > li{
    display:block;

}
.container .footer-container .contact-container .services-container{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.container .footer-container .contact-container .services-container section ul li a{
    text-decoration: none;
    color: black;
}

.container .footer-container .contact-container .services-container section{
    margin-right:5%;
    margin-top: 5%;
}

.container .footer-container .contact-container .services-container section li{
    list-style: none;
}

.container .footer-container .pay-container{
    display: flex;
    width: 80vw;
    align-items: center;
}
.container .footer-container .pay-container div{
    margin-right: 3%;
}

@media (max-width: 1100px){
    .container .footer-container .contact-container .services-container{
        flex-direction: column;

    }
    .container .footer-container .contact-container .services-container li{
        display: none;
    }
    .container .footer-container .contact-container .services-container ul:hover > li{
        display: block;
    }
}